$cookie-dough: #ffdead;
$chocolate-chip: #7b3d11;
$fudge: #52280b;

$light-text-color: $cookie-dough;
$dark-text-color: $fudge;

$secondary-background: $chocolate-chip;

$header-height: 84px;

// breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 720px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1320px;
